<header>
    <div class="left-side">
        <div class="collapse-sidebar-button">
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <div class="calendar-icon">
            <img src="~/images/calendar.png" alt="calendar icon" />
            <span>Web Calendar</span>
        </div>

        <div class="today-button">
            <span>Today</span>
        </div>

        <div class="swich-date">
            <div class="swich-wrapper">
                <img src="~/images/left-arrow.png" alt="prev" />
            </div>

            <div class="swich-wrapper">
                <img src="~/images/right-arrow.png" alt="prev" />
            </div>
        </div>

        <span class="header-date">October 2019</span>
    </div>

    <div class="right-side">
        <div class="search">
            <img src="~/images/search.png" alt="search" />
        </div>

        <div class="view-mode">
            <span>Day</span>
            <img src="~/images/caret-down.png" alt="caret-down" />
        </div>

        <div class="user-menu">
            <img src="~/images/user.png" alt="user-icon" />
        </div>
    </div>
</header>