<div id="create-calendar" class="create-calendar pop-up">
  <div class="top-case">
    <input type="text" name="calendarName" placeholder="Name">
    <div id="create-calendar-submit">
      <i class="material-icons small">add_circle</i>
    </div>
  </div>
  <div id="colors">
    <div class="color color-selected">
      <div class="value"></div>
      <!-- Value - colorId -->
      <input type="hidden" value="#9E69AF">
    </div>
    <div class="color">
      <div class="value"></div>
      <!-- Value - colorId -->
      <input type="hidden" value="#9E69AF">
    </div>

    <div class="color">
      <div class="value"></div>
      <!-- Value - colorId -->
      <input type="hidden" value="#9E69AF">
    </div>

    <div class="color">
      <div class="value"></div>
      <!-- Value - colorId -->
      <input type="hidden" value="#9E69AF">
    </div>

    <div class="color">
      <div class="value"></div>
      <!-- Value - colorId -->
      <input type="hidden" value="#9E69AF">
    </div>
    <div class="color">
        <div class="value"></div>
        <!-- Value - colorId -->
        <input type="hidden" value="#9E69AF">      
      </div>
  </div>
</div>