<div id="pop-up-container">
  <div class="pup-up-content-wrapper pop-up">
    <div id="pop-up-content"></div>

    <div class="pop-up-footer">
      <div id="pop-up-cancel">
        <span>Cancel</span>
      </div>
      <div id="pop-up-submit">
        <span>Confirm</span>
      </div>
    </div>
  </div>
</div>