@model Business.Models.Calendar

<div class="share-calendar-form pop-up">
  <div class="top-case">
    <input type="hidden" name="calendarId" value="@Model.Id">
    <input class="validate" type="email" name="userEmail" placeholder="User email">
    <div id="share-calendar-submit">
      <i class="material-icons small">person_add</i>
    </div>
  </div>
</div>