#day-view-mode {
  margin-top: 4px;
  height: 100%;
}

#day-view-mode .date {
  color: var(--color-minor-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 75px;
}

#day-view-mode .date .day-of-week {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

#day-view-mode .date .day {
  font-size: 26px;
  font-weight: normal;
}

.day-view-presentation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.day-view-presentation .vertical-line {
  position: absolute;
  left: 55px;
  top: 55px;
  height: 100%;
  width: 1px;
  background-color: var(--color-main-border);
}

.day-view-presentation .table-wrapper {
  overflow-y: auto;
  position: relative;
  padding-top: 10px;
}

.day-view-presentation #table-events {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 45px;
  max-height: 1540px;
}

.day-view-presentation .table-wrapper::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 45px;
  height: 1px;
  width: calc(100% - 63px);
  background-color: var(--color-main-border);
}

.day-view-presentation .table-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 55px;
  height: calc(100% + 10px);
  width: 1px;
  background-color: var(--color-main-border);
}

.cell {  
  display: flex;
  height: 50px;
  width: calc(100% - 10px);
  position: relative;
  border-top: 1px solid var(--color-main-border);
}

.cell:hover {
  cursor: pointer;
}

.cell::before {
  content: attr(data-content);
  width: 40px;
  text-align: end;
  white-space: nowrap;
  position: absolute;
  left: -45px;
  top: -8px;
  font-size: 10px;
  display: inline;
  text-transform: uppercase;
  color: var(--color-small-font-size);
}

.daily-event {  
  user-select: none;
  -moz-user-select: none;
  z-index: 200;
  position: absolute;
  background-color: var(--displayed-event-bg);
  width: calc(100% - 20px);
  height: 46px;
  min-height: 28px;
  border-radius: 4px;
  left: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.daily-event-tiny {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.all-day-event .title,
.daily-event .title,
.daily-event .time span {
  color: #fff;
  font-size: 12px;
  margin: 5px 0 0 5px;
}

.daily-event .time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#all-day-events {
  width: calc(100% - 73px);
  margin-left: 47px;  
}

.all-day-event {
  cursor: pointer;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  z-index: 10;
  background-color: var(--displayed-event-bg);  
  height: 24px;
  width: calc(100% - 12px);
  border-radius: 4px;
  left: 10px;
  margin-bottom: 2px;
}