
#load-delete-event {  
  position: absolute;
  opacity: 0;
}

.delete-event:hover {
  background-color: var(--color-pop-up-hover);
}

.delete-event-btn {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-event-btn * {
  margin: 0 5px;
  color: var(--color-main-gray);
  font-size: 14px;
}