.share-calendar-form {
  z-index: 10005;  
  position: absolute;
  animation-name: pop-up;
  animation-duration: var(--animation-duration);
}

.share-calendar-form .top-case {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.share-calendar-form .top-case input[type="email"] {
  font-size: 15px;
  color: var(--color-minor-gray);  
  font-weight: 500;
  margin-right: 10px;
  width: 250px;
}

#share-calendar-submit {
  background-color: var(--color-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-main-duration);
  transition-property: all;
}

#share-calendar-submit i {
  color: #fff;
  transform: scale(.6, .6);
}

.confirm-wrapper {
 max-width: 440px; 
}

.confirm-wrapper p {
  font-size: 15px;
  font-weight: normal;
}

.confirm-wrapper p span {
  font-weight: 500;
}

.confirm-wrapper .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.confirm-wrapper .user-info img {
  height: 50px;
  margin-right: 20px;
}

.confirm-wrapper .user-info .username {
  font-size: 18px;
}

