<div id="day-view-mode">
    <div class="day-view-presentation">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
        <div class="date">
            <div class="day-of-week"></div>
            <div class="day"></div>
        </div>
        <div id="table-events" class="scrollbar">
            <div class="all-day-events"></div>
        </div>
    </div>
</div>