* {
  --font-main-family: Roboto, sans-serif;
  /* --color-main: #26A69A; */
  --color-main: #1A73E8;
  --color-main-hover: #2C7EEA;
  --color-hover-transparent: rgba(26, 115, 232, .1);
  --color-main-gray: #5f6368;
  --color-small-font-size: #70757a;
  --color-minor-gray: #3c4043;
  --color-main-border: rgba(199, 199, 199, .6);
  --color-pop-up-hover: #F1F3F4;
  --color-items-main-gray-bg: #F0F0F0;
  --color-scrollbar: #dcdcdc;
  --transition-main-duration: 150ms;
  --animation-duration: 100ms;
  --box-shadow-event-form: 0 24px 38px 3px rgba(0,0,0,0.14),
                           0 9px 46px 8px rgba(0,0,0,0.12), 
                           0 11px 15px -7px rgba(0,0,0,0.2);
  --header-height: 64px;
  --side-bar-width: 300px;
  --displayed-event-bg: #9E69AF;
}

@keyframes pop-up {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
