body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: var(--font-main-family);
  font-weight: 500;
  color: var(--color-main-gray);
  overflow: hidden;
  background-color: #fff;
}

#main-modal {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px inherit;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 10px;
}

textarea {
  overflow-y: auto !important;
  border: none !important;
  margin: 0 !important;
  background-color: #F1F3F4 !important;
  border-radius: 4px !important;
  padding: 5px 10px !important;
  text-align: left;
  vertical-align: middle;
  height: 90px !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

