<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=20.188.35.217;Database=Calendar;User Id=sa;Password=Sunsetfame05!"
      providerName="System.Data.SqlClient" />
    <add name="Data_Layer.Properties.Settings.Server" connectionString="Data Source=20.188.35.217;Database=Calendar;User Id=sa;Password=Sunsetfame05!" />
    <add name="Repository.Properties.Settings.Server" connectionString="Data Source=20.188.35.217;Database=Calendar;User Id=sa;Password=Sunsetfame05!" />
  </connectionStrings>
</configuration>