@{
ViewData["Title"] = "Calendar";
}

@section Styles{
<link rel="stylesheet" href="~/css/header/header.css">
<link rel="stylesheet" href="~/css/main/body/separate-body.css">
<link rel="stylesheet" href="~/css/main/body/side-bar.css">
<link rel="stylesheet" href="~/css/main/body/calendar-table.css">
<link rel="stylesheet" href="~/css/main/event/create-event.css">
<link rel="stylesheet" href="~/css/main/event/event-more-options.css">
<link rel="stylesheet" href="~/css/main/event/custom-repeat.css">
<link rel="stylesheet" href="~/css/main/view-modes/day.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}

@section Scripts{  
<script type="module" src="~/js/app.js"></script>
}

<div class="body-wrapper">
    <div id="side-bar">
        <partial name="PartialViews/Sidebar/SidebarPartial" />        
    </div>
    <div id="calendar-table">
        <partial name="PartialViews/TableViewModes/DayPartial" />        
    </div>
</div>

<div id="load-create-event-form"></div>