@model Business.Models.Calendar

<div class="calendar">
  <input type="hidden" name="calendarId" value="@Model.Id">
  <label>
    <input checked="true" class="filled-in calendar-events-checkbox" type="checkbox" />
    <span>@Model.Name</span>
  </label>
  <div class="delete-calendar waves-effect">
    <i class="material-icons tiny">close</i>
  </div>
</div>