@model IEnumerable<Business.Models.Calendar>

<div class="calendar-list-wrapper">
  <div id="create-calendar"></div>
  <div class="title-row">
    <h6>My calendars</h6>
    <div id="create-calendar-target">
      <i class="material-icons small">add</i>
    </div>
  </div>
  <div class="calendar-list">
    @foreach (var calendar in Model)
    {
      @Html.Partial("PartialViews/SideBar/CalendarPartial", calendar);
    }
  </div>
</div>