#side-bar {
  width: var(--side-bar-width);
  height: 100%;
  padding: 15px 10px;
}

.mini-calendar {  
  z-index: 98 !important;
}

#mini-calendar {
  visibility: hidden;
  position: fixed;
}

.mini-calendar .modal-overlay,
.mini-calendar .datepicker-date-display,
.mini-calendar .datepicker-footer {
  display: none !important;
}

.mini-calendar .modal {
  position: relative;
  margin: 0;
  box-shadow: none !important;
  background-color: #fff;
  margin-top: 0px;
  z-index: 98 !important;
}

.calendar-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 40px;
}

.calendar-list-wrapper h6 {
  font-size: 14px;
  color: var(--color-minor-gray);
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 20px;
}

.calendar-list {
  max-height: 180px;
  overflow-y: auto;
}

.calendar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 20px;
  transition-property: all;
  transition-duration: var(--transition-main-duration);
}

.calendar:hover {
  cursor: pointer;
  background-color: var(--color-items-main-gray-bg);
  transition-property: all;
  transition-duration: var(--transition-main-duration);
}

.calendar * {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-minor-gray);
}

.calendar label span {
  height: auto !important;
  line-height: normal !important;
}

.calendar-actions {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 7px;
}

.calendar .calendar-btn i {  
  font-weight: 500;
  color: var(--color-main-gray);
  transform: scale(1.5, 1.5);
  margin: 0 5px;
}

.calendar .share-calendar i {
  transform: scale(1.3, 1.3);
}

.calendar-list-wrapper .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#create-calendar-target {
  margin-right: 40px;
  border-radius: 50%;    
  display: flex;
  align-items: center;
  transition-duration: var(--transition-main-duration);
  transition-property: all;  
}

#create-calendar-target:hover {
  cursor: pointer;
  background-color: var(--color-items-main-gray-bg);
  transition-duration: var(--transition-main-duration);
  transition-property: all;
}

#create-calendar-target i {
  transform: scale(.8, .8);
}

.calendar-events-checkbox[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid var(--checkbox-color) !important;
  background-color: var(--checkbox-color) !important;
}