@model Business.Models.Calendar

<div class="delete-message">
  <p class="message">
    Are you sure you want to hide <span>@Model.Name</span>? You will no longer see this calendar on the list.
  </p>
</div>