<header>
    <div class="left-side">
        <div class="waves-effect collapse-sidebar-button">
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <div class="calendar-icon">
            <img src="~/images/calendar.png" alt="calendar icon" />
            <span>Web Calendar</span>
        </div>

        <div id="today" class="waves-effect today-button">
            <span>Today</span>
        </div>

        <div class="switch-date">
            <div class="waves-effect switch-wrapper" id="prev">
                <i class="material-icons">navigate_before</i>
            </div>

            <div class="waves-effect switch-wrapper" id="next">
                <i class="material-icons">navigate_next</i>
            </div>
        </div>

        <span class="header-date"></span>
    </div>

    <div class="right-side">
        <div class="waves-effect search">
            <i class="material-icons">search</i>
        </div>

        <!-- Dropdown Trigger -->
        <a class='view-mode' data-target='view-mode'>Day</a>

        <!-- Dropdown Structure -->
        <ul id='view-mode' class='dropdown-content'>
            <li><a>Day</a></li>
            <li><a>Week</a></li>
            <li><a>Month</a></li>
            <li><a>Year</a></li>            
        </ul>

        <div class="user-menu">
            <img src="~/images/user.png" alt="user-icon" />
        </div>
    </div>
</header>