<div class="create-event-form">
    <i class="close material-icons right">close</i>
    <div class="title">
        <input placeholder="Add title" id="title" type="text">
    </div>    
    <div class="select-date">
        <i class="material-icons">access_time</i>
        <input type="text" class="datepicker left-range">
        <input type="text" class="timepicker left-range">
        <span> &mdash; </span>
        <input type="text" class="timepicker right-range">
        <input type="text" class="datepicker right-range">
    </div>
    <div id="more-options">
        
    </div>
    <div class="actions">
        <a class="more-options-btn">More options</a>
        <a class="waves-effect waves-light btn">Save</a>
    </div>
</div>